.page {
  background-color: var(--clr-bg);
  height: 93vh;
  color: var(--clr-text);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Component styling */
.inputDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  width: 70%;
}

.textInputDiv {
  text-align: left;
  width: 100%;
}

.textInputDiv textarea {
  height: 20vh;
  width: 100%;
}
