.page {
  background-color: var(--clr-bg);
  height: 93vh;
  color: var(--clr-text);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addBtn {
  width: 20rem;
  height: 2rem;
  cursor: pointer;
  background-color: var(--clr-secondary);
}

.addBtn:hover {
  background-color: var(--clr-accent);
}

/* Component styling */
.inputDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  width: 70%;
}

.textInputDiv {
  text-align: left;
  width: 100%;
}

.textInputDiv input,
.addBtn,
.textInputDiv textarea {
  font-family: inherit;
  border-radius: 5px;
  padding: 5px 2px;
}

.textInputDiv textarea {
  height: 20vh;
  width: 100%;
  /* border-radius: 10px; */
}
